body {
  margin: 0px;
  padding: 0px;
}

.centrar {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100vw;
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
}

img {
  width: 100%;
}  
