body {
  margin: 0px;
  padding: 0px;
}

.centrar {
  align-items: center;
  width: auto;
  height: auto;
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
}

img {
  width: auto;
  height: auto;
  vertical-align: middle;
}  
